body {
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 100%;
    font-family: -apple-system, BlinkMacSystemFont, "SF Pro Display", "SF Pro Text", "Helvetica Neue", Arial, sans-serif;
    background: #fff;
    color: #fff;
    overflow-x: hidden;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

a,
button {
    -webkit-tap-highlight-color: transparent;
}

button {
    font: inherit;
    border: 0;
    background: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
}

img {
    display: block;
    max-width: 100%;
}

.iphone-frame {
    position: relative;
    width: 100%;
    min-height: 100svh;
    min-height: 100vh;
    overflow: hidden;
    background: #0000001A;
    padding:
        max(14px, env(safe-area-inset-top))
        14px
        max(40px, env(safe-area-inset-bottom))
        14px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.screen-bg {
    position: absolute;
    inset: 0;
    z-index: 0;
    overflow: hidden;
}

.screen-bg::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.52);
    opacity: 0;
    transition: opacity 0.35s ease;
    z-index: 2;
}

.screen-bg.active::before {
    opacity: 1;
}

.bg-image-slot {
    position: absolute;
    inset: 0;
    z-index: 1;
    background-image: url("../img/XXXX.svg");
    background-repeat: no-repeat;
    background-position: center 20px;
    background-size: cover;
}

.fake-modal {
    position: relative;
    z-index: 3;
    width: min(100%, 450px);
    padding: 25px 20px 20px;
    border-radius: 42px;
    background: #f4f4f4;
    box-shadow: 0 18px 40px rgba(0, 0, 0, 0.22);
    text-align: left;
    overflow: hidden;

    opacity: 0;
    transform: translateY(80px);
    animation: modalSlideUpCenter 0.8s ease-out 0.9s forwards;
}

.fake-modal__alert {
    display: flex;
    align-items: center;
    gap: 14px;
    color: #ff2d2d;
    font-size: 15px;
    line-height: 1.15;
    font-weight: 600;
    margin-bottom: 26px;
}

.fake-modal__icon {
    width: 38px;
    height: 38px;
    flex: 0 0 38px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 42px;
    line-height: 1;
    color: #ff0000;
}

.fake-modal__title {
    margin: 0 0 18px;
    max-width: 100%;
    font-size: 25px;
    line-height: 1.15;
    font-weight: 800;
    letter-spacing: 0.01em;
    color: #000;
}

.fake-modal__text {
    margin: 0 0 30px;
    max-width: 100%;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: -0.03em;
    font-weight: 400;
    color: #111;
    letter-spacing: 0.01em;
}

.fake-modal__text b {
    font-weight: 600;
    letter-spacing: 0.01em;
}

.fake-modal__btn {
    width: 100%;
    min-height: 55px;
    border-radius: 999px;
    background: #326bff;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-size: 21px;
    font-weight: 500;
    letter-spacing: 0.03em;
}

.fake-modal__icon {
    width: 38px;
    height: 38px;
    flex: 0 0 38px;
    object-fit: contain;
}

@keyframes modalSlideUpCenter {
    from {
        opacity: 0;
        transform: translateY(80px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}


@media (max-width: 390px) {
    .fake-modal {
        width: 100%;
        padding: 25px 16px;
        border-radius: 30px;
    }
    

    .fake-modal__title {
        font-size: 26px;
        margin-bottom: 16px;
        max-width: 320px;
    }

    .fake-modal__text {
        font-size: 16px;
        margin-bottom: 30px;
        max-width: 300px;
    }

    .fake-modal__btn {
        min-height: 60px;
        font-size: 24px;
    }
}

@media (max-width: 375px) {
    .iphone-frame {
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 100px;
    }

    .fake-modal {
        padding: 15px 14px;
        border-radius: 28px;
        width: 95%;
    }

    .fake-modal__icon-wrap {
        width: 80px;
        height: 80px;
    }

    .fake-modal__icon-slot {
        width: 80px;
        height: 80px;
        border-radius: 22px;
    }

    .fake-modal__title {
        font-size: 19px;
        max-width: 290px;
        margin-bottom: 14px;
    }

    .fake-modal__text {
        font-size: 14px;
        max-width: 286px;
        margin-bottom: 20px;
    }

    .fake-modal__btn {
        min-height: 55px;
        font-size: 21px;
    }

    .bg-image-slot {
        background-position: center top;
    }
    
}

@media (max-width: 320px) {
    .iphone-frame {
        padding-left: 8px;
        padding-right: 8px;
    }

    .fake-modal {
        padding: 14px 12px 0;
        border-radius: 24px;
    }

    .fake-modal__icon-wrap {
        width: 82px;
        height: 82px;
        margin-bottom: 10px;
    }

    .fake-modal__icon-slot {
        width: 82px;
        height: 82px;
        border-radius: 20px;
    }

    .fake-modal__title {
        font-size: 22px;
        margin-bottom: 12px;
        max-width: 260px;
    }

    .fake-modal__text {
        max-width: 100%;
        font-size: 14px;
        line-height: 1.3;
        margin-bottom: 18px;
    }

    .fake-modal__btn {
        min-height: 58px;
        font-size: 18px;
    }
}

@media (min-width: 414px) {
    .fake-modal {
        width: 100%;
        padding: 24px 16px;
        border-radius: 30px;
    }

     .fake-modal__title {
        font-size: 26px;
        margin-bottom: 16px;
        max-width: 320px;
    }

    .fake-modal__text {
        font-size: 16px;
        margin-bottom: 22px;
        max-width: 300px;
    }

    .fake-modal__btn {
        min-height: 69px;
        font-size: 24px;
    }
}
